<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login Here</title>


  <link rel="stylesheet" href="" th:href="@{/css/mystyle.css}">

</head>


<body>

<div class="container">


  <img class="profile" src="" th:src="@{/image/native.png}" alt="">

  <h1>This is example of adding css js and images using thymeleaf</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum earum, eius recusandae rem repellendus
    sint voluptatibus. Nihil, repudiandae, voluptatibus. Aliquid amet animi aperiam asperiores blanditiis consectetur
    deleniti dolorem, doloremque doloribus eligendi enim id iusto magni nobis obcaecati officia quaerat rem saepe sapiente
    soluta tempora totam unde, veritatis! Quos, ratione.</p>
</div>

<script src="" th:src="@{/js/myjs.js}"></script>

</body>
</html>